*{
    margin-left: 5%;
    margin-right: 5%;
}

@font-face{
    font-family: AdventureZone;
    src: url(../fonts/Adventure.otf);
}
/* ----- Header Bar -----*/
#header{
    margin: 0%;
    padding: 0%;
/*    background-color: #2f3069; */
    background-color: #1c1936;
/*    background-color: #000000;*/
    top: 0%;
    left: 0px;
    position: fixed;
    text-align: center;
    width: 100%; 
}

/* ----- Nav Bar -----*/

#navcontainer{
    margin: 0%;
    font-family: "AdventureZone";
    text-align: center;
    font-size: 20px;
}
#navcontainer ul
{
    margin: 0%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: white;
    color: #777;
    display:inline-block;
    float: left;
	width: 100%;
	text-align: center;
    list-style-type: none;
    border-bottom: 1px solid #ddd;
}    
#navcontainer ul li { 
    margin: 0%;
    padding: 5%;
    margin-right: 0%;
    display: inline;
    font-size: 18pt;
    
}

#navcontainer ul li a{
    margin: auto;
    display: inline-block;
    text-decoration: none;
    color: #777;
	
}

#navcontainer ul li :hover
{
    background-color: lightgray;
}
#currentpage{
    text-decoration: none;
    background-color: lightgray;
    padding: 1%;
}

/* ----- Parallax Formats -----*/

/*--- Paralax 1 ---*/
.parallax {
   
    background-image: url('../media/earth-space.jpg');
    height: 22%; 

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.box{
    height: auto;
    font-size:16pt;
    color: #777;
    background-color:white;
    text-align:center;
    padding:30px 80px;
    text-align: left;   
}

/*--- Paralax 2 ---*/
.parallax2 {
    background-image: url('../media/blue-space.jpeg');
    height: 22%; 

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
}
/*--- Paralax 3 ---*/
.parallax3 {
    background-image: url('../media/red-space.jpeg');
    height: 22%; 

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* ----- General -----*/
body, html {
/*    background-color: #1c1936;*/
/*    background-color: #2f3069;*/
    background-color: #4d3b72;

    height: 100%; 
    font-family: 'Quicksand', sans-serif;

}
h1,h2,h3{
    font-family: 'AdventureZone', cursive;
}
h1{
    color: white;
    font-size: 36pt;
    padding: 0%;
}
h2{
    font-size: 30pt;
    padding-bottom: .1em;
    border-bottom: 2px solid #999;
}
h3{
    font-family: 'Quicksand', sans-serif;
    font-size: 18pt;
    text-align: center;
    
}
a{
    color: #870507;
}
a:visited{
    color: #470304;
}
img{
    max-width: 100%;
    display:block;
    margin:auto;
}
.bigpic{
    display: block;
    padding: 2%;
}
.smlpic{
    display: none;
}
.nameTag{
    font-size: 20pt;
    text-align: left;
}
.nameDesc{
    margin-left: 10%;
}
.imageScale{
    width: 100%;
    padding: 1%;
}
/* ----- Media Queries -----*/


@media screen and (max-width: 780px){
    *{
        margin-left: 0%;
        margin-right: 0%;
    }
    #navcontainer{
    margin: 0%;
    padding: 0%;
    font-family: 'Germania One', cursive;
    text-align: center;
    font-size: 20px;

    }
    #navcontainer ul
    {
        margin 0%;
        padding: 1%;
        display:inline-block;
        width: 100%;
        text-align: center;
        list-style-type: none;
    }    
    #navcontainer ul li { 
        
        padding: 2%;
        display: inline-block;
        font-size: 18pt;
    }

    #navcontainer ul li a{
        padding: 0%;
        display: inline-block;
        text-decoration: none;
        color: #777;

    }
        .box{
        font-size:16pt;
        color: #777;
        background-color:white;
        padding:30px 20px;
        text-align: justify;
        }
        h1{
            font-size: 24pt;
        }
    .parallax {
    
    /* Full height */
    height: 25%; 
    }
    .bigpic{
        display: none;
    }
    .smlpic{
        display: block;
    }
}
@media screen and (max-width: 480px){
    *{
        margin-left: 0%;
        margin-right: 0%;
    }
    #navcontainer{
    margin: 0%;
    padding: 0%;
    font-family: 'Germania One', cursive;
    text-align: center;
    font-size: 20px;

    }
    #navcontainer ul
    {
        padding: 0%;
        width: 100%;
        background-color: #efefef;
        text-align: center;
        list-style-type: none;
    }    
    #navcontainer ul li { 
        padding: 5%;
        padding-top: 2%;
        padding-bottom: 2%;
        display: block;
        font-size: 18pt;
    }

    #navcontainer ul li a{
        padding: 0%;
        text-decoration: none;
        color: #777;
    }
    
    .box{
    font-size:16pt;
    color: #777;
    background-color:white;
    padding:15px 20px;
    text-align: left;
    }
    h1{
        font-size: 24pt;
    }
    .parallax {
    
    /* Full height */
    height: 30%; 
    }
    .bigpic{
        display: none;
    }
    .smlpic{
        display: block;
        padding: 2%;
    }
}
/*
@media only screen and (max-device-width: 1024px) 
{
    .parallax 
    {
        background-attachment: scroll;        
    }
}*/
